<div class="container">
  <div class="row">
    <div class="col s9 offset-s2 col l6 offset-l3 z-depth-4 card-panel">

      <h5>Edit <%= resource_name.to_s.humanize %></h5>

      <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-field col s12">
          <%= f.label :email, "Nombre de usuario" %><br />
          <%= f.text_field :username, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="input-field col s12">
          <%= f.label :password %> <small>(Déjalo en blanco si no lo quieres cambiar)</small><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="input-field col s12">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="input-field col s12">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="col s12">
          <%= f.submit "Update", class: "btn waves-effect waves-light col s12" %>
          <br><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
