<main>
  <section id="hero">
    <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

      <div class="item img-bg img-bg-soft tint-bg" style="background-image: url(http://res.cloudinary.com/dyujxfph9/image/upload/v1458344542/lockers-932113_1920_ul492o.jpg);">
        <div class="container">
          <div class="caption vertical-center text-center">

            <h1 class="fadeInDown-1 dark-color">Las mejores puertas para tú negocio</h1>
            <p class="fadeInDown-2 light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="fadeInDown-3">
              <%= link_to "Ve nuestro catalogo", products_path, class: "btn btn-large" %>
            </div>

          </div>
        </div>
      </div>

      <div class="item img-bg img-bg-soft tint-bg" style="background-image: url(http://res.cloudinary.com/dyujxfph9/image/upload/v1458344524/door-113355_960_720_liuoka.jpg);">
        <div class="container">
          <div class="caption vertical-center text-right">

            <h1 class="fadeInLeft-1 dark-color">Modernos diseños</h1>
            <p class="fadeInLeft-2 light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="fadeInLeft-3">
              <%= link_to "Ve nuestro catalogo", products_path, class: "btn btn-large" %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="product">
    <div class="container inner">

      <div class="row">

        <div class="col-sm-6 inner-right-xs text-right">
          <figure><%= cl_image_tag "door-259326_1920_b2iovm.jpg"%></figure>
        </div>

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Modernos diseños</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

      </div>

      <div class="row inner-top-md">

        <div class="col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><%= cl_image_tag "door-1089560_1920_dhmnug.jpg", class: "img-thumbnail" %></figure>
        </div>

        <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
          <h2>La seguridad es nuestra mejor cualidad</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

      </div>

    </div>
  </section>

  <section id="visit-our-store" class="img-bg img-bg-soft tint-bg" style="background-image: url(http://res.cloudinary.com/dyujxfph9/image/upload/v1458344520/key-677851_1920_qfmr0i.jpg);">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9">
          <header>
            <h1>Visita nuestras tiendas</h1>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
          </header>
          <a href="#" class="btn btn-large">Visit our store</a>
        </div>
      </div>

    </div>
  </section>

  <section id="reasons">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>5 razones <br>para elejir nuestro productos</h1>
            <p>Doloreiur quia commolu dolupta oreprerum tibusam.</p>
          </header>
        </div>
      </div>

      <div class="row inner-top-sm">
        <div class="col-xs-12">
          <div class="tabs tabs-reasons tabs-circle-top tab-container">

            <ul class="etabs text-center">
              <li class="tab"><a href="#tab-1"><div>1</div>Seguridad</a></li>
              <li class="tab"><a href="#tab-2"><div>2</div>Diseños modernos</a></li>
            </ul>

            <div class="panel-container">

              <div class="tab-content" id="tab-1">
                <div class="row">

                  <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                    <figure><%= cl_image_tag("door-1089638_960_720_c6hvez.jpg", class: "img-thumbnail") %></figure>
                  </div>

                  <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                    <h3>Seguridad</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div>

                </div>
              </div>

              <div class="tab-content" id="tab-2">
                <div class="row">

                  <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                    <figure><%= cl_image_tag("door-1089560_1920_dhmnug.jpg", class: "img-thumbnail") %></figure>
                  </div>

                  <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                    <h3>Diseños modernos</h3>
                    <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

</main>
