<!-- <div class="row">
  <div class="col s12 l9">
    <fieldset>
      <legend>Contactanos</legend>
      <%= form_for @contact do |f| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= "#{pluralize(@contact.errors.count, "error")} prohibited this message from being sent:" %>
            </h2>

            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            <ul>
          </div>
        <% end %>

        <div class="input-field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="input-field">
          <%= f.label :subject %>
          <%= f.text_field :subject %>
        </div>

        <div class="input-field">
          <%= f.label :content %>
          <%= f.text_area :content, class: "materialize-textarea" %>
        </div>

        <div>
          <%= f.submit 'Enviar', class: 'btn waves-effect waves-light' %>
        </div>
      <% end %>
    </fieldset>
  </div>
  <div class="col s12 l3">
    <iframe class="contact-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:EkhMb3MgQ2FycmVyYSAxMDk5LCBDb25jZXBjacOzbiwgQ29uY2VwY2nDs24sIFJlZ2nDs24gZGVsIELDrW8gQsOtbywgQ2hpbGU&key=AIzaSyAyIM6imt013BQ_qWZr-sL2WLN_Yc5PAdQ" allowfullscreen></iframe>
    <p>
      Showroom Oficina Central Concepción:
      <br>
      Los Carrera 1099. Fono 041 - 2464957
      <br>
      Oficina Santiago:
      <br>
      Telefono Movil 58590927
      <br>
      Oficina Puerto Montt
      <br>
      Representante Zonal
      <br>
      Ronald Eskuche G.
      <br>
      Cel 58590931
    </p>
  </div>
</div> -->
<main>

  <!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

  <section id="contact-form">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Get in touch</h1>
            <p>Do you want to know more? We’d love to hear from you!</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-sm-12">
          <div class="row">

            <div class="col-sm-6 outer-top-md inner-right-sm">

              <h2>Leave a Message</h2>
              <%= form_for @contact, id: "contactform", class: "forms" do |f| %>
                <% if @contact.errors.any? %>
                  <div id="error_explanation">
                    <h2>
                      <%= "#{pluralize(@contact.errors.count, "error")} prohibited this message from being sent:" %>
                    </h2>

                    <ul>
                      <% @contact.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    <ul>
                  </div>
                <% end %>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.text_field :name, class: "form-control", placeholder: "Nombre (requerido)" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.email_field :email, class: "form-control", placeholder: "Email (requerido)" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.text_field :subject, class: "form-control", placeholder: "Asunto" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <%= f.text_area :content, class: "form-control", placeholder: "Mensaje (requerido)" %>
                  </div>
                </div>

                <div>
                  <%= f.submit 'Enviar', class: 'btn btn-default btn-submit' %>
                </div>
              <% end %>

              <div id="response"></div>

            </div>

            <div class="col-sm-6 outer-top-md inner-left-sm border-left">

              <h2>Contacts</h2>
              <p>Magnis modipsae voloratati andigen daepeditem quiate re aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>

              <h3>REEN</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
                <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
              </ul><!-- /.contacts -->

              <div class="social-network">
                <h3>Social</h3>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="height-sm">
    <iframe class="contact-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:EkhMb3MgQ2FycmVyYSAxMDk5LCBDb25jZXBjacOzbiwgQ29uY2VwY2nDs24sIFJlZ2nDs24gZGVsIELDrW8gQsOtbywgQ2hpbGU&key=AIzaSyAyIM6imt013BQ_qWZr-sL2WLN_Yc5PAdQ" allowfullscreen></iframe>
  </section>

</main>
