<main>

  <section class="height-sm">
    <iframe class="contact-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:EkhMb3MgQ2FycmVyYSAxMDk5LCBDb25jZXBjacOzbiwgQ29uY2VwY2nDs24sIFJlZ2nDs24gZGVsIELDrW8gQsOtbywgQ2hpbGU&key=AIzaSyAyIM6imt013BQ_qWZr-sL2WLN_Yc5PAdQ" allowfullscreen></iframe>
  </section>
  <section id="contact-form">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Contactanos</h1>
            <p>¿Quieres saber mas? contactanos</p>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="row">

            <div class="col-sm-6 outer-top-md inner-right-sm">

              <h2>Deja un comentario</h2>
              <%= form_for @contact, id: "contactform", class: "forms" do |f| %>
                <% if @contact.errors.any? %>
                  <div id="error_explanation">
                    <h2>
                      <%= "#{pluralize(@contact.errors.count, "error")} prohibited this message from being sent:" %>
                    </h2>

                    <ul>
                      <% @contact.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    <ul>
                  </div>
                <% end %>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.text_field :name, class: "form-control", placeholder: "Nombre (requerido)" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.email_field :email, class: "form-control", placeholder: "Email (requerido)" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.text_field :subject, class: "form-control", placeholder: "Asunto" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <%= f.text_area :content, class: "form-control", placeholder: "Mensaje (requerido)" %>
                  </div>
                </div>

                <div>
                  <%= f.submit 'Enviar', class: 'btn btn-default btn-submit' %>
                </div>
              <% end %>

              <div id="response"></div>

            </div>

            <div class="col-sm-6 outer-top-md inner-left-sm border-left">

              <h2>Contacto</h2>
              <p>Magnis modipsae voloratati andigen daepeditem quiate re aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>

              <h3>Americandors</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i> Calle, Ciuddad</li>
                <li><i class="icon-mobile contact"></i>+056 922 22 22 22</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> email@email.com</a></li>
              </ul>

              <div class="social-network">
                <h3>Redes sociales</h3>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-gplus"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

</main>
