<div class="container triple-padded">
  <div class="row">
    <div class="one fourth">

    </div>
    <div class="two fourths">
      <h1 class="center"><%= @product.name %></h1>
      <%= image_tag @product.cover.url.to_s %>
      <p class="pull-right">
        <%= @product.category.name if @product.admin %>
        <br>
        <%= number_to_currency(@product.price, unit: "$") %>
      </p>

      <hr>

      <%= @product.description.html_safe %>
    </div>
    <div class="one fourth">

    </div>
  </div>
</div>
